# Dependencies
node_modules/
.pnp
.pnp.js

# HubSpot CLI
.hsignore
hubspot.config.yml
*.env

# Build output
dist/
build/
.cache/

# Environment & secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
